---
interface Props {
  code?: string;
}

const { code } = Astro.props;
---

<div class="my-8 border border-slate-200 rounded-xl overflow-hidden bg-transparent shadow-xs">
  <div class="p-8 flex items-center justify-center min-h-84 from-slate-50 via-white to-slate-50">
    <slot />
  </div>

  {
    code && (
      <div class="border-t border-slate-100 bg-component">
        <div class="flex items-center justify-between px-4 py-2">
          <span class="text-xs font-medium text-slate-400 uppercase tracking-wider">
            Example Code
          </span>
          <button
            class="text-xs text-slate-400 hover:text-white transition-colors cursor-pointer"
            onclick={`navigator.clipboard.writeText(\`${code}\`)`}
          >
            Copy
          </button>
        </div>
        <pre class="p-4 overflow-x-auto text-sm text-slate-300 font-mono">
          <code>{code}</code>
        </pre>
      </div>
    )
  }
</div>
