@theme inline {
  /* Spacing tokens */
  --spacing-control-sm: calc(var(--spacing) * 8); /* 2rem (32px) */
  --spacing-control-md: calc(var(--spacing) * 9); /* 2.25rem (36px) */
  --spacing-control-lg: calc(var(--spacing) * 10); /* 2.5rem (40px) */

  /* Fields tokens */
  --spacing-field-sm: calc(var(--spacing) * 8); /* 2rem (32px) */
  --spacing-field-md: calc(var(--spacing) * 9); /* 2.25rem (36px) */
  --spacing-field-lg: calc(var(--spacing) * 10); /* 2.5rem (40px) */

  --padding-field-sm: calc(var(--padding) * 3); /* 0.75rem (12px) */
  --padding-field-md: calc(var(--padding) * 3); /* 0.75rem (12px) */
  --padding-field-lg: calc(var(--padding) * 3); /* 0.75rem (12px) */

  /* Radius tokens */
  --radius-control: calc(var(--radius) * 3); /* 0.75rem (12px) */
  --radius-field: calc(var(--radius) * 3); /* 0.75rem (12px) */

  --color-separator: var(--separator);
  --color-focus: var(--focus);

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-overlay: var(--overlay);

  /* Text Colors */
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-tertiary-text: var(--tertiary-text);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-control: var(--control);
  --color-control-foreground: var(--control-foreground);

  --color-field: var(--field);
  --color-field-foreground: var(--primary-text);
  --color-field-placeholder: var(--tertiary-text);
  --color-field-secondary: var(--field-secondary);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  /* Calculated Variables */

  /* Colors */
  --color-accent-hover: color-mix(
    in oklab,
    var(--color-accent) 90%,
    var(--color-accent-foreground) 10%
  );

  --color-accent-pressed: color-mix(
    in oklab,
    var(--color-accent) 90%,
    var(--color-accent-foreground) 10%
  );

  --color-danger-hover: color-mix(
    in oklab,
    var(--color-danger) 90%,
    var(--color-danger-foreground) 10%
  );

  --color-danger-pressed: color-mix(
    in oklab,
    var(--color-danger) 90%,
    var(--color-danger-foreground) 10%
  );

  --color-control-hover: color-mix(
    in oklab,
    var(--color-control) 94%,
    var(--color-control-foreground) 6%
  );

  --color-control-pressed: color-mix(
    in oklab,
    var(--color-control) 90%,
    var(--color-control-foreground) 10%
  );

  --color-field-hover: color-mix(
    in oklab,
    var(--color-field) 98%,
    var(--color-field-foreground) 2%
  );

  --color-field-secondary-hover: color-mix(
    in oklab,
    var(--color-field-secondary) 98%,
    var(--color-field-foreground) 2%
  );

  --color-ghost-hover: color-mix(in oklab, var(--color-control-foreground) 3%, transparent);

  --color-ghost-pressed: color-mix(in oklab, var(--color-control-foreground) 10%, transparent);

  --color-outline-hover: color-mix(
    in oklab,
    var(--color-separator) 92%,
    var(--color-control-foreground) 8%
  );

  /* Shadows */
  --shadow-overlay: var(--overlay-shadow);
}
