---
import "../styles/global.css";
import Sidebar from "@components/astro/Sidebar.astro";
import TableOfContents from "@components/astro/TableOfContents.astro";
import { ViewTransitions } from "astro:transitions";

interface Frontmatter {
  title: string;
}

interface Props {
  frontmatter?: Frontmatter;
  title?: string;
  headings: { depth: number; slug: string; text: string }[];
}

const { frontmatter, headings } = Astro.props;
const title = frontmatter?.title ?? Astro.props.title ?? "Docs";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Shizen UI</title>
    <ViewTransitions />
  </head>
  <body class="bg-background font-sans">
    <div class="mx-auto max-w-8xl px-6">
      <div class="flex flex-col md:flex-row gap-8">
        <div transition:persist="sidebar">
          <Sidebar />
        </div>

        <main
          class="flex-auto py-10 md:pl-72 lg:pr-72 min-w-0 flex justify-center"
          transition:animate="fade"
        >
          <article class="prose-content w-full max-w-160">
            <slot />
          </article>
        </main>

        <div transition:persist="toc">
          <TableOfContents headings={headings} />
        </div>
      </div>
    </div>
  </body>
</html>
